# Dependency directories
backend/node_modules/

# DB config
backend/config/

# env
backend/.env

# ignore .mwb, .png
backend/seniorsafety.mwb
backend/seniorsafety.png 

# frontend nodemodules
frontend/node_modules