# Dependency directories
backend/node_modules/

# DB config
backend/config/

# env
backend/.env

# ignore .mwb, .png
backend/seniorsafety.mwb
backend/seniorsafety.png

# End of https://www.toptal.com/developers/gitignore/api/node,vscode
