html {
    background-color: rgb(214, 214, 214);
}

.LoginTemplate {
    width: 80%;
    margin-top: 6rem;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    background-color: white;
    
}

.app-greeting {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
}

.app-title {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    background-color: white;
    display: flex;
}

.content {
    text-align: center;
}